* {
    margin: 0px;
    padding: 0px;
    font-family: 'Koulen', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    box-sizing: border-box;
}

:root {
    --rootBeer: #1F0C07;
    --lapisLazuli: #2676A1;
    --fieryRose: #FB5B68;
    --lemonYellow: #FFEB48;
    --melon: #FFBDB0;
    --persianPink: #FA74BF;
    --aquamarine: #75FBE2;
    --mediumTurquoise: #53D2CE;
    --queenBlue: #396598;
    --apricot: #FCD1B8;
    --babyPowder: #FFFFF8;
    --cherryBlossomPink: #FFBAC6;

}

.selecionado{
    background-color: #75FBE2;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
    background-color: var(--fieryRose)
}

.nav-links a:hover {
    color: var(--aquamarine);
    font-size: 18px;
    transition: 0.5s;
}

.ativo {
    color: var(--lemonYellow);
}

.logo {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
}

.conteudo {
    box-sizing: border-box;
    border: #FFBDB0 3px solid;
    margin: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 50px;
}

.indicadores {
    border: #FFBDB0 3px solid;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    align-items: center;
    flex-direction: column;
    margin: 50px 25px 25px 50px;
    padding: 25px;
    box-sizing: border-box;
}

.indicadores span {
    margin-top: 10px;
}

.fa-trash.fa-my {
    box-sizing: border-box;
    color: #FB5B68;
    cursor: pointer;
}
.votado{
    color:#FFEB48;
}


.fa-calendar.fa-my {
    box-sizing: border-box;
    color: #FFEB48;
    margin: 20px;
}

.fa-pen.fa-my {
    box-sizing: border-box;
    color: #FFEB48;
    margin: 10px;
    cursor: pointer;
}

.fa-file-lines.fa-my {
    box-sizing: border-box;
    color: #53D2CE;
    margin: 20px;
}

.fa-bookmark.fa-my {
    box-sizing: border-box;
    color: #FB5B68;
    margin: 20px;
}

.lista {
    display: flex;
    flex-wrap: wrap;
}

.lista2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.tamanho.chart-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.section5 a {
    box-sizing: border-box;
    color: white;
    text-decoration: none;

}

.textoArea {
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 15px;
    margin-bottom: 10px;
}

.posts h3 {
    margin-bottom: 5px;
}

.post h2 {
    text-align: center;
    font-style: italic;
}

.posts {

    box-sizing: border-box;
    border: #FB5B68 3px solid;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 20px 20px 20px 20px;
    padding: 50px;
}

.posts0 {

    box-sizing: border-box;
    border: #75FBE2 3px solid;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 20px 20px 20px 20px;
    padding: 50px;
}

.post small,
.post2 small {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.post {
    box-sizing: border-box;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}

.post2 {
    box-sizing: border-box;
    margin: 50px;

}

.sair {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.quiz a {
    text-decoration: none;
}

li a {
    color: white;
}

.nav-links a {
    transition: 0.5s;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .post {
        width: 100%;
    }

    .boxes {
        flex-wrap: wrap;
    }
    .boxes2{
width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .conteudo {
        margin: 50px 0px 10px 0px;
    }
    .tamanho.chart-container{
        width: 100%;
    }


    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--fieryRose);
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .perfil {
        flex-wrap: wrap;
    }


}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}

.section1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/fundo1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
}

.parteA h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.parteC h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.parteA {
    margin: 50px;

    flex-direction: column;
    width: 50%;
}

.parteC {
    display: flex;
    flex-direction: column;
}

.parteB {
    display: flex;
    justify-content: flex-end;
    width: 100%;

}

.section2 p {
    color: var(--babyPowder);
}

.section2 h2 {
    color: var(--babyPowder);

}

.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: var(--melon) solid 3px;
}

.form input {
    width: 100%;
    margin: 5px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    padding: 10px;
    display: flex;
}

.form p {
    width: 100%;
    margin: 5px;
    display: flex;
}

.button {
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cherryBlossomPink);
    border: #FA74BF;
    color: white;
    padding: 20px;
    height: 40px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.button2{
    text-align: center;
}
.button:hover {
    font-size: 24px;
    transition: 0.5s;
}

.section2 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3 {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

}
.section3 .texto2 p{
    margin: 25px 100px 25px 100px;
}

.section3 h1{
    color: black;
}

.section5 {
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 50px;
    display: flex;
    align-items: center;
}

.section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.boxes {
    display: flex;
    justify-content: space-evenly;
}

.boxes2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.boxes2 .box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: var(--babyPowder) solid 2px;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
}
.boxes3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.boxes3 .box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: var(--melon) solid 2px;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
}

.opcoes {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: var(--babyPowder) solid 2px;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
}

.opcoes:hover {
    border: var(--lemonYellow) solid 3px;
    transition: 0.6s;
}

.boxes .box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: var(--babyPowder) solid 2px;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
}

.boxes .box h2 {
    align-items: center;
    justify-content: center;
    color: black;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;

}

.boxes .box img {
    margin-bottom: 15px;
    height: 50%;
}

.quiz {
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/a6361d7827f4ef58ae749ec0940adf91.png');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: var(--babyPowder) solid 2px;
    background-attachment: fixed;
    background-size: cover;
    margin: 50px;
    padding: 50px;
}

.box .divRes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.box div img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: var(--babyPowder) solid 12px;
    margin: 50px;
}
.imgResultado{
    width: 50%;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: var(--babyPowder) solid 12px;
    margin: 25px 0px 25px 0px;
}

.quiz p {
    color: white;
}

.quiz .box h2 {
    color: white;
}

.perfil {
    margin: 50px;
    padding: 12.5px;
    box-sizing: border-box;
    border: #FB5B68 solid 2px;
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: var(--mediumTurquoise) solid 2px;
    border-radius: 5px;

}

hr {
    margin: 5px;
    background-color: #FB5B68;
    height: 2px;
    width: 100%;
}

.form p a {
    text-decoration: none;
    margin-left: 5px;
}

.texto {
    margin: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fotografia {
    box-sizing: border-box;
    border-radius: 100%;
    height: 40vh;
}

.fotos {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
}

footer {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/fundo2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

footer h4 {
    box-sizing: border-box;
    margin-top: 30px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

footer ul li {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 2px;
    background: var(--logan);
}

::-webkit-scrollbar-thumb {
    background: #FFF;
}